<!DOCTYPE html>
<html>
<head>
	<title>Kanishk varshney</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"> 
	<link rel="shortcut icon" href="static/icon.ico">
</head>
<body >
	<form method = "post">
		<div id = "place"> 

			URL: <input type = "text" name = "url"><br><br>

	
			<input type = "submit" value = "Get Response" name = "get_response"  formaction = "{{ url_for('register') }}"/>
			<input type = "submit" value = "Browse" name = "browse" formaction = "{{ url_for('tribute') }}" />
			<br><br><br>
			
			Download:<a class = "down" href = "static/jinja.exe">Jinja</a>

		</div>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			Results:
			<pre>
				{% for message in messages %}
				{{message}}
				{% endfor %}
			</pre>
		{% endif %}
	{% endwith %}
</body>
</html>
